<%= form_with(model: posting, local: true, class: 'form-group') do |form| %>
  <div class="col-sm-12 col-md-10 col-lg-8 offset-lg-2 offset-md-1">
    <% if posting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(posting.errors.count, "error") %> prohibited this posting from being saved:</h2>

      <ul>
        <% posting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <h2>Primary Information</h2>
    <div class="field">
      <%= form.label :company_name %>
      <%= form.text_field :company_name, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :position_name %>
      <%= form.text_field :position_name, class: 'form-control', placeholder: "Please prefix 'a/an' as necessary to the position name" %>
    </div>

    <div class="field">
      <%= form.label :link, 'Job Posting Link' %>
      <%= form.text_field :link, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :summary_name, 'Posting Header Paragraph' %>
      <%= form.text_field :summary_name, class: 'form-control', placeholder: 'Optional title' %>
    </div>

    <div class="field">
      <%= form.text_area :summary, class: 'form-control', placeholder: 'Please do not enter point form here' %>
    </div>

    <h2>Optional Information</h2>

    <div class="field">
      <%= form.text_field :duties_name, class: 'form-control', placeholder: 'Optional title' %>
    </div>

    <div class="field">
      <div class="row">
        <div class="col-3">
          <%= form.label :radio_duties, 'Paragraphs' %>
          <%= form.radio_button :radio_duties, 'paragraphs' %>
        </div>

        <div class="col-3">
          <%= form.label :radio_duties, 'Point-form' %>
          <%= form.radio_button :radio_duties, 'point-form', :checked => 'checked' %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.text_area :duties, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.text_field :qualifications_name, class: 'form-control', placeholder: 'Optional title' %>
    </div>

    <div class="field">
      <div class="row">
        <div class="col-3">
          <%= form.label :radio_qualifications, 'Paragraphs' %>
          <%= form.radio_button :radio_qualifications, 'paragraphs' %>
        </div>

        <div class="col-3">
          <%= form.label :radio_qualifications, 'Point-form' %>
          <%= form.radio_button :radio_qualifications, 'point-form', :checked => 'checked' %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.text_area :qualifications, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.text_field :additional_comments_name, class: 'form-control', placeholder: 'Optional title' %>
    </div>

    <div class="field">
      <div class="row">
        <div class="col-3">
          <%= form.label :radio_additional_comments, 'Paragraphs' %>
          <%= form.radio_button :radio_additional_comments, 'paragraphs' %>
        </div>

        <div class="col-3">
          <%= form.label :radio_additional_comments, 'Point-form' %>
          <%= form.radio_button :radio_additional_comments, 'point-form', :checked => 'checked' %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.text_area :additional_comments, class: 'form-control', placeholder: 'Please do not enter point form' %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
