<p id="notice"><%= notice %></p>

<h1>Postings</h1>
<%= link_to 'New Posting', new_posting_path, class: 'btn btn-secondary btn-sm' %>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Position name</th>
      <th>Link</th>
      <th>Summary</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @postings.each do |posting| %>
      <tr>
        <td><%= posting.company_name %></td>
        <td><%= posting.position_name %></td>
        <td><a href="<%= posting.link %>" class="btn btn-secondary btn-sm">Link</a></td>
        <td><%= posting.summary %></td>
        <td>
          <div class="btn-group" role="group">
            <%= link_to 'Show', posting, class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Edit', edit_posting_path(posting), class: 'btn btn-secondary btn-sm' %>
            <%= link_to 'Delete', posting, method: :delete, class: 'btn btn-secondary btn-sm', data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
